<div class="card" id="servClass{{ servClass }}" style="margin-bottom: 20px">
	<div class="card-header">
		Service class {{ servClass }}
	</div>
	<div class="card-body">
		<div class="form-row">
			<div class="col">
				<label for="trafficLoad{{ servClass }}Id">Traffic load:</label>
				<input type="text" name="trafficLoad{{ servClass }}" class="form-control" id="trafficLoad{{ servClass }}Id" placeholder="Erlangs">
			</div>
			<div class="col">
				<label for="bwDemand{{ servClass }}Id">Bandwidth demand:</label>
				<input type="text" name="bwDemand{{ servClass }}" class="form-control" id="bwDemand{{ servClass }}Id" placeholder="Bandwidth units">
			</div>
		</div>
	</div>
</div>