<!doctype html>
<html>
    <head>
        <!-- Window title-->
        <title>Teletraffic models</title>
        <!-- Include Bootstrap CSS -->
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <!-- Include JQuery library from MaxCDN-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Include Bootstrap JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    </head>
    <style>
        .container{
            min-width: 1200px;
            max-width: 1600px;
        }
    </style>

  <body>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Multirate Teletraffic Loss Models</h1>
    <p class="lead">Calculations for several teletraffic loss models</p>
  </div>
</div>
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <form class="border" style="padding-left: 15px; padding-right: 15px; padding-bottom: 15px" method="post" action="http://localhost:5000/">
            <div class="form-group">
              <h4 class="padding-bottom-xl">Input data</h4>
            </div>
            <div class="form-group">
              <label for="teletrafficModelId">Model:</label>
              <select class="form-control" name="teletrafficModel" id="teletrafficModelId">
                <option value="emlm">EMLM (Kaufman - Roberts formula)</option>
                <option value="enmlm">EnMLM (Stasiak - Glabowski method)</option>
                <option value="eemlm">Elastic EMLM</option>
                <option value="eenmlm">Elastic EnMLM</option>
                <option value="srm">SRM (Single-Retry Model)</option>
              </select>
            </div>
            <div id="inputData">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Calculate</button>
          </form>
        </div>
        <div class="col-lg-7 border">
          <h4 class="padding-bottom-xl">Results</h4>
          <div id="results">
          </div>
        </div>
      </div>
    </div>
	<br>
	<footer class="page-footer font-small pt-4" style="min-height: 200px; background-color: grey;">
		<div>
		</div>
	</footer>
   </body>
  <script src="static/bootstrap-input-spinner.js"></script>
  <script>
    function setInputLayout() {
      selectedModel = $("#teletrafficModelId").val();
      $.post('/getInput', {model: selectedModel}, 
        function(data){
        $("#inputData").empty();
        $('#inputData').append(data);
        $("input[type='number']").inputSpinner()
        $(".br").prop("disabled", true);
      });
    }

    $(document).ready(function() {
      setInputLayout();

      $("form").on('submit', function(event){
        $.ajax({
          url: '/process',
          data: $('form').serialize(),
          type: 'post'
        })
        .done(function(data) {
          $("#results").empty();
          $('#results').append(data);
        });
        event.preventDefault();
      });

      $("#teletrafficModelId").on('change',function(){
        setInputLayout()
      });

      $(document).on('change','#numOfServiceClassesId', function(e){
        var curModel = $("#teletrafficModelId").val();
        var curVal = $("#numOfServiceClassesId").val();
        var curCards = $("#cards > div").length;
        
        var diff = curVal - curCards
        
        if (diff > 0) {
          for (i = 0; i < diff; i++) {
	          $.post('/card', {servClass: curCards + 1 + i, model: curModel}, 
	            function(data){
	              $("#cards").append(data);
	              if ($("#bwReservationId").is(':checked')) {
	                $(".br").prop("disabled", false);
	              } else {
	                $(".br").prop("disabled", true);
	              } 
	          });
          }
        }
        else if  (diff < 0){
          for (i = 0; i < Math.abs(diff); i++) {
            $( "#servClass" + (curCards - i)).remove();
          }
        }

      });

      if ($("#bwReservationId").is(':checked')) {
        $(".br").prop("disabled", false);
      } else {
        $(".br").prop("disabled", true);
      }

      $(document).on("click", "#bwReservationId", function() {
        if ($("#bwReservationId").is(':checked')) {
          $(".br").prop("disabled", false);
        } else {
          $(".br").prop("disabled", true);
        }
      });
    });
  </script>
</html>